@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

body {
  background: #E5E5E5;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-width: 1600px;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.button {
  cursor: pointer;
  border: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button:hover {
  background: rgba(228, 114, 9, 1);
}

.header {
  background: #111115;
}

.header_logo {
  cursor: pointer;
}

.header-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1160px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul {
  display: flex;
  list-style: none;
  width: 472px;
  margin-right: 420px;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #FFFFFF;
}

.nav-item a {
  text-decoration: none;
  color: #FFFFFF;
}

.nav-item a:hover {
  color: #F9804B;
}

.nav-item.active a {
  color: #F9804B;
}

.designed a {
  text-decoration: none;
  color: #FFFFFF;
}

.designed {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #FFFFFF;
}

.designed a:hover {
  color: #F9804B;
}

/* Panda */
.panda-bg {
  height: 385px;
  background: url('../../assets/images/panda_bg.png') top -5px left no-repeat;
}

/* pick-and-feed */
.pick-and-feed-a-friend {
  /*height: 1004px;*/
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.pick-and-feed-a-friend-intro {
  /*border: 2px solid red;*/
}

.pick-and-feed-a-friend h1 {
  margin: 0;
  margin-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 47px */
  color: #FFFFFF;
}

.pick-and-feed-a-friend-text-1 {
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* or 22px */
  color: #FFFFFF;
}

.pick-and-feed-a-friend-text-2 {
  margin-top: 50px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 47px */
  /* or3 */
  color: #FE9013;
}

.pick-and-feed {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 180px;
  background: rgba(253, 253, 255, 0.52);;
  border-radius: 20px;
}

.pick-and-feed-block {
  width: 100%;
  max-width: 976px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.pick-and-feed h2 {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */
  /*text-align: center;*/
  color: #FE9013;
}

.pick-and-feed-text {
  width: 100%;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  color: #333B41;
}

.panda-block {
  margin-top: 60px;
  width: 100%;
  max-width: 532px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panda-block-count {
  margin-top: 10px;
}

.panda-block-count-number {
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  /* identical to box height, or 58px */
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.panda-block-count-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: #333B41;
}

.panda-block-icon {

}

.amount {
  width: 100%;
  text-align: left;
  margin-top: 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #000000;
}

.amount-title {

}

.amount-range {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 976px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
}

.amount-range-line {
  width: 915px;
  height: 2px;
  background: #72828E;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount-range-item {
  cursor: pointer;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 25px;
  background: #FFEE2E;
  animation: none;
  transition: all 0.5s;
}


.amount-range-item-1 {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amount-range-item-1:after {
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 2px;
  content: "";
  border-radius: 25px;
  transform: translate(-20px, -20px);
  width: 40px;
  height: 40px;
}


.amount-range-item:hover {
  animation: pulse 1s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.6);
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.amount-range-item.active:after {
  position: absolute;
  top: -8px;
  left: -8px;
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 25px;
  border: 2px solid #FE9013;
}

.amount-range-item.active:before {
  position: absolute;
  top: -17px;
  left: -17px;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 25px;
  border: 2px solid #FE9013;
}

.amount-price {
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.amount-price-item {
  width: 72px;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  /* or 36px */
  text-transform: uppercase;
  color: #333B41;
}

.amount-price-item.active {
  color: #FE9013;
}

.price-icon {
  font-size: 21px;
}

.pick-and-feed-block-form {
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dollar-input {
  width: 268px;
  position: relative;
}

.pick-and-feed-block-form input {
  padding: 5px;
  border: 1px solid rgba(146, 150, 153, 1);
  width: 255px;
  height: 40px;
  background: #fde4d6;
}

.dollar {
  position: absolute;
  right: 10px;
  top: 15px;
}

.pick-and-feed-block-form input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.pick-and-feed-block-form input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.radio-input {
  width: 218px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pick-and-feed-block-form label {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #333B41;
}

.radio-input {
  margin-right: 15px;
  margin-top: 27px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -1px;
  left: -1px;
  position: relative;
  background-color: #fde4d6;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #FE9013;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -1px;
  left: -1px;
  position: relative;
  content: '';
  display: inline-block;
  visibility: visible;
  background: #4B9200;
  border: 1px solid #4B9200;
}


.radio-input-item {
  display: flex;
  align-items: center;
  justify-content: start;
}

.radio-input-item label {
  margin-left: 10px;
}

.radio-input-item:first-child {
  margin-right: 50px;
}

.radio-input-item input[type=radio] {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  /* or3 */
  border: 1px solid #FE9013;
  background: #fde4d6;
}

.feed-a-friend {
  margin-top: 30px;
  width: 298px;
  height: 54px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.pick-and-feed-block-text {
  margin: 30px 0 62px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #333B41;
}

/* footer */
.footer {
  height: 443px;
  background: #111115;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: start;
}

.footer-content-1 {
  margin-top: 41px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.subsribe-form {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.subsribe-form-name {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  color: #FFFFFF;
  /*border: 1px solid #000000;*/
}

.subsribe-form-input input {
  width: 228px;
  height: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  /* Gray 4 */
  color: #BDBDBD;
  background: #111115;
  border-radius: 2px;
  border: 0.7px solid rgba(249, 128, 75, 1);
}

.subsribe-form-input input:active {
  border: 0.7px solid #4B9200;
}

.subsribe-form-input::placeholder {
  padding: 0;
}

.subsribe-form button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #4B9200;
  width: 129px;
  margin-top: 14px;
  height: 42px;
  background: #F1F3F2;
  /* Green */
  border: 1px solid #4B9200;
  border-radius: 5px;
}

.button-submit {
  cursor: pointer;
}

.button-submit:hover {
  color: #FE9013;
  border: 1px solid #FE9013;
}

.footer-content-2 {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.donate-for {
  width: 298px;
  height: 54px;
  /* orange */
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  margin-top: 35px;
}

.sotial-network {
  margin: 44px 0 0 0;

}

.sotial-network-item {
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: start;
}

.sotial-network-item-logo {
  margin-right: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 26px;
  height: 26px;
  background: rgba(196, 196, 196, 0.5);
}

.sotial-network-item-logo-a {
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 2px solid red;*/
}

.sotial-network-item-logo:hover {
  background: #4B9200;
}


.sotial-network-name:hover {
  color: #4B9200;
}

.sotial-network-item a {
  text-decoration: none;
}

.sotial-network-item:last-child {
  margin-bottom: 0;
}

.sotial-network-name {
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #FFFFFF;
}

.footer-nav {
  padding: 0;
  width: 362px;
  margin-left: 120px;
}

.nav-ul-footer {
  margin: 0;
  width: 100%;
  padding: 0;
}

.designed-by-RSS-text {
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */
  color: #FFFFFF;
}

.designed-by-RSS div:first-child {
  margin-bottom: 10px;
}